.title{
    color:#0F0F0F;
    text-align:center;
    font-size:33px;
    font-style: normal;
}
.subTitle{
    color:#0F0F0F;
    font-size:20px;
    font-style: normal;
}
.text{
    color:#0F0F0F;
    vertical-align:middle;
    font-size:8px;
    font-style: normal;
    position: relative;
    top: -5px;
}
.input{
    text-align: center;
    margin: auto;
    position:center;
    right: auto;
    left: auto;
}
.centerDivFlex{
    display: flex;
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translate(-50%,-30%);
}
.centerDiv{
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translate(-50%,-30%);
}