.title{
    color:#0F0F0F;
    text-align:center;
    font-size:33px;
    font-style: normal;
}
.subTitle{
    color:#0F0F0F;
    font-size:20px;
    font-style: normal;
}
.text{
    color:#0F0F0F;
    vertical-align:middle;
    font-size:8px;
    font-style: normal;
    position: relative;
    top: -5px;
}
.input{
    text-align: center;
    margin: auto;
    position:center;
    right: auto;
    left: auto;
}
.centerDivFlex{
    display: flex;
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translate(-50%,-30%);
}
.centerDiv{
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translate(-50%,-30%);
}
.textList{
    font-size: 10px;
    position: relative;
    margin-top: -5px;
    text-align: center;
}
.resultDiv{
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
}